{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl  max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="wysiwyg-content max-w-3xl mx-auto mb-24 px-4 lg:px-0">
    <div>
        {{ post.get_field('committee_information') }}
    </div>
</div>
<div class="max-w-5xl mx-auto mb-24">
    <div class="flex flex-wrap justify-center md:justify-start mb-24">
        {% for member in post.get_field('members') %}
            <article class="p-2 flex flex-col min-w-64 
                        {# hack for spacing distinguished members #}
                        {{ member.distinguished ? 'w-1/3' : 'w-1/4' }} 
                        {{ loop.index in [1] ? 'md:pl-16 md:pr-0' : '' }} 
                        {{ loop.index in [2] ? 'md:px-8 md:py-2 md:-mx-4' : '' }}  
                        {{ loop.index in [3] ? 'md:pr-16 md:pl-0' : '' }}">
                <img src="{{ TimberImage(member.headshot).src('large') }}" class="w-full" />
                {% if member.distinguished %}
                    <div class="p-2 mb-2 flex-1 flex-shrink-1 flex-auto flex flex-col justify-start">
                        <h1 class="text-blue-darkest font-bold text-2xl flex-1 flex-shrink-1 flex-auto leading-none">
                            <a class="block" href="{{ member.url }}">{{ member.name }}</a>
                        </h1>
                        <div class="text-blue-darkest">{{ member.title }}</div>
                    </div>
                {% else %}
                    <div class="p-2 mb-2 flex-1 flex-shrink-1 flex-auto flex flex-col bg-gray-light">
                        <h1 class="text-blue-darkest font-bold text-2xl flex-1 flex-shrink-1 flex-auto leading-none">
                            <a class="block" href="{{ member.url }}">{{ member.name }}</a>
                        </h1>
                        <div class="text-blue-darkest mt-4">{{ member.title }}</div>
                    </div>
                {% endif %}
            </article>
        {% endfor %}
    </div>

    <div class="flex flex-wrap md:flex-no-wrap">
        <div class="bg-gray-light w-full md:w-1/2 p-4 flex flex-col mx-4">
            <div class="leading-none text-blue-darkest text-3xl text-center font-bold flex-1 flex-shrink-1 flex-auto">{{ post.get_field('cta_1_title_text') }}</div>
            <div class="text-center mt-8">
                {% if preview %}
                    <span class="button button-inverted">{{ post.get_field('cta_1_button').title }}</span>
                {% else %}
                    <a href="{{ post.get_field('cta_1_button').url }}" class="button button-inverted">{{ post.get_field('cta_1_button').title }}</a>
                {% endif %}
            </div>
        </div>
        <div class="bg-gray-light w-full md:w-1/2 p-4 flex flex-col mx-4 mt-8 md:mt-0">
            <div class="leading-none text-blue-darkest text-3xl text-center font-bold flex-1 flex-shrink-1 flex-auto">{{ post.get_field('cta_2_title_text') }}</div>
            <div class="text-center mt-8">
                {% if preview %}
                    <span class="button button-inverted">{{ post.get_field('cta_2_button').title }}</span>
                {% else %}
                    <a href="{{ post.get_field('cta_2_button').url }}" class="button button-inverted">{{ post.get_field('cta_2_button').title }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}