{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest">
    <div class="container mx-auto pt-8 md:pt-12 pb-8 md:pb-24 px-4 md:px-24 lg:flex justify-between">
        <div class="xl:w-2/3 lg:pr-24">
            <h2 class="text-white font-display font-bold text-2xl md:text-4xl mb-16 tracking-wide leading-tight">Providing Accurate and Unbiased Evaluations of Kansas Government</h2>
            <form class="relative" method="GET" action="/audit-report-library">
                <input type="text" name="fwp_audit_search" placeholder="Search Audits" class="w-full block px-8 py-6 pr-16 rounded-none text-grey-dark font-mont">
                <div class="absolute right-0 inset-y-0 flex items-center mr-4">
                    <button class="" type="submit">
                        <span class="sr-only">Search</span>
                        <svg class="text-gray-dark stroke-current" width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Home-Concept-3" transform="translate(-760.000000, -406.000000)" stroke="currentColor" stroke-width="3"><g id="Group-4-Copy-11" transform="translate(762.000000, 408.000000)"><circle id="Oval" cx="12" cy="12" r="12"></circle><g id="Group-3" transform="translate(6.000000, 6.000000)"><path d="M0,5.41551907 L10.369351,5.41551907" id="Path-3"></path><polyline id="Path-4" points="5.92439904 0 10.840024 5.41551907 5.92439904 10.8310381"></polyline></g></g></g></g></svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-8 lg:mt-0 bg-gray-light flex flex-col max-w-full lg:max-w-xs w-full p-6 lg:-mt-12 font-mont">
            <h3 class="text-2xl mb-4 tracking-wide font-bold text-blue-darkest lg:mt-8">Quick Links</h3>
            <ul class="text-sm -mb-6">
                {% for item in quickLinksMenu.items %}
                    <li class="mb-4 {{ item.classes|join(' ') }}">
                        <a href="{{ item.link }}" class="hover:underline">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="flex-1"></div>
        </div>
    </div>
</div>
<div class="py-4 md:py-16 font-mont">
    <h3 class="container px-4 md:px-24 font-display font-bold text-4xl text-blue-darkest mx-auto mb-8">Featured Audits</h3>
    <div class="container mx-auto px-4 md:px-24">
        <div class="flex flex-col md:flex-row -mx-4 font-mont">
            {% for audit in featured %}
            <a href="{{ audit.link }}" class="mb-8 md:mb-0 md:w-1/3 bg-blue-darkest mx-4 pt-8 px-6 pb-6 flex">
                <div class="flex flex-col flex-1 font-lg">
                    <h4 class="flex-1 flex-shrink-1 flex-auto text-white mb-4 text-center leading-normal">{{ audit.title }}</h4>
                    <div class="self-center p-2 text-white">
                        <svg class="stroke-current" width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Home-Concept-3" transform="translate(-760.000000, -406.000000)" stroke="currentColor" stroke-width="3"><g id="Group-4-Copy-11" transform="translate(762.000000, 408.000000)"><circle id="Oval" cx="12" cy="12" r="12"></circle><g id="Group-3" transform="translate(6.000000, 6.000000)"><path d="M0,5.41551907 L10.369351,5.41551907" id="Path-3"></path><polyline id="Path-4" points="5.92439904 0 10.840024 5.41551907 5.92439904 10.8310381"></polyline></g></g></g></g></svg>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container mx-auto mb-12 -mt-4 md:mt-0">
    <div class="md:-mx-4 flex flex-wrap md:flex-no-wrap px-4 md:px-24 font-mont">
        <div class="w-full md:w-1/2 py-6 flex items-center flex-col px-12 md:mx-4 bg-gray-light">
            <h4 class="mb-2 flex-1 flex-shrink-1 flex-auto w-full font-mont font-bold text-2xl text-blue-darkest leading-none text-center">Legislative Post Audit Committee Meetings</h4>
            {% if next_meeting %}
                <p class="text-sm">Next Meeting: {{ next_meeting.date('m/d/Y')}}</p>
            {% endif %}
            <div class="flex flex-col md:flex-row justify-between items-center mt-4 w-full">
                {% if next_meeting.get_field('agenda') %}
                    <a href="{{ next_meeting.get_field('agenda').url }}" class="self-center text-sm border-2 text-blue-light rounded-lg no-underline py-2 px-4 hover:border-blue hover:text-blue">View Upcoming Agenda</a>
                {% endif %}
                {% if past_meeting.get_field('minutes') %}
                    <a href="{{ past_meeting.get_field('minutes').url }}" class="mt-4 md:mt-0 text-blue-light underline">View Past Minutes</a>
                {% endif %}
            </div>
        </div>
        <div class="w-full md:w-1/2 mt-8 md:mt-0 py-6 flex items-center flex-col px-12 md:mx-4 bg-gray-light">
            <h4 class="mb-2 flex-1 font-mont font-bold text-2xl text-blue-darkest leading-none text-center">Work With Us</h4>
            <div class="flex justify-center items-center mt-4 w-full">
                <a href="{{ post.get_field('careers_link') }}" class="self-center text-sm border-2 text-blue-light rounded-lg no-underline py-2 px-4 hover:border-blue hover:text-blue">See Careers</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}