{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="container lg:flex mx-auto mb-24 justify-start px-4 lg:px-0">
    <div class="wysiwyg-content w-full lg:max-w-3xl mr-16 pr-16 lg:border-r">
        {{ post.content }}
        <div class="mt-8">
            <a href="{{ post.get_field('apply_now_link').url }}" class="button">Apply Now</a>
        </div>
    </div>
    <aside class="max-w-xs border-t lg:border-t-0 mt-12 lg:mt-0 pt-8 lg:pt-8">
        <h2 class="font-display font-bold text-blue-darkest text-3xl">Apply Now</h2>
        {% if post.get_field('apply_now_short_info') %}
            <p class="mt-4">{{ post.get_field('apply_now_short_info') }}</p>
        {% endif %}
        <a href="{{ post.get_field('apply_now_link').url }}" class="button mt-8">Apply Now</a>
    </aside>
</div>

<div class="container mx-auto mb-24">
    <div class="flex flex-wrap md:flex-no-wrap">
        <div class="bg-gray-light lg:w-1/2 p-4 py-16 mb-4 flex flex-col mx-4">
            <div class="leading-none text-blue-darkest text-3xl text-center font-bold flex-1">{{ post.get_field('cta_1_title_text') }}</div>
            <div class="text-center mt-8">
                {% if preview %}
                    <span class="button button-inverted">{{ post.get_field('cta_1_button').title }}</span>
                {% else %}
                    <a href="{{ post.get_field('cta_1_button').url }}" class="button button-inverted">{{ post.get_field('cta_1_button').title }}</a>
                {% endif %}
            </div>
        </div>
        <div class="bg-gray-light lg:w-1/2 p-4 py-16 mb-4 flex flex-col mx-4">
            <div class="leading-none text-blue-darkest text-3xl text-center font-bold flex-1">{{ post.get_field('cta_2_title_text') }}</div>
            <div class="text-center mt-8">
                {% if preview %}
                    <span class="button button-inverted">{{ post.get_field('cta_2_button').title }}</span>
                {% else %}
                    <a href="{{ post.get_field('cta_2_button').url }}" class="button button-inverted">{{ post.get_field('cta_2_button').title }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}