{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-3xl max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="container mx-auto flex flex-col md:flex-row items-start mb-20">
    <div class="w-full md:w-1/4 md:border-r mr-12 pb-8 font-mont mt-12 md:mt-0">
        <div class="bg-blue-darkest px-4 py-2 text-white font-bold text-2xl mb-4">
            Actions
        </div>
        <div class="p-2">
            {% if post.get_field('podcast_url') %}
            {% set podcast_url = function('trim', post.get_field('podcast_url')) %}
            <div class="mb-6">
                <iframe src="{{ podcast_url }}?client_source=small_player&iframe=true" scrolling="no" width="100%" height="200" frameborder="0"></iframe>
                {# {{ function('wp_oembed_get', post.get_field('podcast_url')) }} #}
            </div>
                {% if post.get_field('podcast_transcript') %}
                <div class="mb-6 -mt-4 text-center">
                    <a class="" href="{{ post.get_field('podcast_transcript') }}" target="_blank">
                        <span class="">Download Podcast Transcript</span>
                    </a>
                </div>
                {% endif %}
            {% endif %}
            <div class="mb-4">
                <a href="{{ post.get_field('pdf') }}" class="flex">
                    {% include 'svg/print.svg' %}
                    <span class="ml-4">Print Report</span>
                </a>
            </div>
            <div class="mb-4">
                <button class="expand-all-preview-sections flex" type="button">
                    {% include 'svg/expand.svg' %}
                    <span class="ml-4">Expand All (Full Report)</span>
                </button>
            </div>
            <div class="mb-4">
                <button class="collapse-all-preview-sections flex" type="button">
                    {% include 'svg/collapse.svg' %}
                    <span class="ml-4">Collapse All (Highlights)</span>
                </button>
            </div>
        </div>

        {% if post.get_field('supervisors') or post.get_field('managers') or post.get_field('auditors') %}
            <div class="bg-blue-darkest px-4 py-2 text-white font-bold text-2xl mb-4">
                Audit Team
            </div>
            <div class="p-2">
                {% if post.get_field('supervisors') %}
                    <div class="font-bold">Supervisor</div>
                    {% for person in post.get_field('supervisors') %}
                        <div class="">{{ person.name }}</div>
                    {% endfor %}
                {% endif %}
                
                {% if post.get_field('managers') %}
                    <div class="font-bold mt-4">Manager</div>
                    {% for person in post.get_field('managers') %}
                        <div class="">{{ person.name }}</div>
                    {% endfor %}
                {% endif %}

                {% if post.get_field('auditors') %}
                    <div class="font-bold mt-4">Auditors</div>
                    {% for person in post.get_field('auditors') %}
                        <div class="">{{ person.name }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>


    <div class="order-first md:order-last px-4 lg:px-0 w-full flex-1">
        <div class="flex items-center justify-between border-b pb-4">
            <div class="mr-8 text-gray-dark">
                Published {{ post.date('F, Y')}}
            </div>
            <div class="flex items-center -mx-2">  
                <div class="mx-2">
                    <a href="{{ post.get_field('pdf') }}" class="flex">
                        {% include 'svg/print.svg' %}
                        <span class="sr-only">Print Report</span>
                    </a>
                </div>
                <div class="mx-2">
                    <button class="expand-all-preview-sections flex" type="button">
                        {% include 'svg/expand.svg' %}
                        <span class="sr-only">Expand All (Full Report)</span>
                    </button>
                </div>
                <div class="mx-2">
                    <button class="collapse-all-preview-sections flex" type="button">
                        {% include 'svg/collapse.svg' %}
                        <span class="sr-only">Collapse All (Highlights)</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="audit-content">
            {% if post.content %}
                
                {{ post.content }}

            {% else %}
                
                {% if post.get_field('highlights_report') %}
                    <a href="{{ post.get_field('highlights_report') }}" class="button mt-12">Read Highlights Report</a>
                {% endif %}

                <a href="{{ post.get_field('pdf') }}" class="button mt-12">Download Report</a>

            {% endif %}
        </div>
    </div>
</div>

{# <div class="bg-gray-light">
    <div class="container mx-auto pb-16">
        <div class="font-mont font-bold text-white mb-12">
            <span class="inline-block text-2xl bg-blue-darkest px-4 py-1">Related Reports</span>
        </div>
        <div class="md:flex md:-mx-12">
            {% for report in related %}
                <article class="md:w-1/3 border-b md:border-b-0 pb-8 mt-6 md:mt-0 flex flex-col px-12 py-2 {{ loop.last ? '' : 'border-r' }}">
                    <div class="flex-1 flex-shrink-1 flex-auto mb-12">
                        <h1 class="font-mont text-lg text-blue-darkest">{{ report.title }}</h1>
                    </div>
                    <div>
                        <a href="{{ report.link }}" class="button">Read Report</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div> #}
{% endblock %}