{% extends "base.twig" %}

{% block content %}
	<div class="container mx-auto my-24">
		<h1 class="text-3xl font-mont font-bold text-blue-darkest">This content is password protected.</h1>
		<form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
			<label for="pwbox-{{post.ID}}">Password:</label>
			<input class="password-box border" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
			<input class="password-btn button" type="submit" name="Submit" value="Submit" />
		</form>
	</div>
	
{% endblock %}
