{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="max-w-4xl mx-auto mb-24 px-4 lg:px-0">
    {% for post in posts %}
    <a href="{{ post.get_field('proposal').url }}" class="block group" target="_blank">
        <article class="flex flex-col lg:flex-row flex-wrap lg:items-center font-mont justify-between py-6 {{ loop.last ? '' : 'border-b' }}">
            <h1 class="order-2 text-lg text-blue-darkest leading-tight max-w-2xl">{{ post.title }}</h1>
            <p class="order-1 w-full text-sm mb-1 font-mont text-gray-dark">Anticipated Release: {{ post.get_field('anticipated_release') }}</p>
            <div class="order-3 button button-inverted group-hover:bg-blue-lightest group-hover:text-white mt-4 lg:mt-0 self-start">View Proposal</div>
        </article>
    </a>
    {% endfor %}
</div>
{% endblock %}