.table-scroll {
	position: relative;
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	&:after, &:before {
		content: 'Scroll for more information \f105';
		font-family: 'FontAwesome', $font-body;
		position: absolute;
		right: 0;
		display: none;

		@include mq($until: $desktop){
			display: block;
		}
	}

	&:after {
		bottom: 0;
		transform: translateY(100%);
	}

	&:before {
		top: 0;
		transform: translateY(-100%);
	}
}