@tailwind components;

body {
    @apply font-body;
}

h2 {
    @apply font-display text-3xl mt-8;
}

h3 {
    @apply font-mont text-blue-darkest text-lg my-4 font-bold;
}

p {
    @apply my-2;
}

ul {
    @apply my-4 list-disc pl-6;

    li {
      @apply pl-2 my-1;
    }
}

.theme-button {
    @apply inline-block text-sm bg-blue-lightest text-white font-mont py-2 px-6 rounded border-2 border-blue-lightest h-auto;
}

.button:not(.acf-button) {
    @apply theme-button;
    // @apply inline-block text-sm bg-blue-lightest text-white font-mont py-2 px-6 rounded border-2 border-blue-lightest h-auto;

    &:hover, &:focus {
        @apply bg-white text-blue-lightest;
    }

}

.button-inverted {
    @apply bg-transparent text-blue-lightest;

    &:hover {
        @apply bg-blue-lightest text-white;
    }
}

.wp-block-button {
    @apply my-4;

    &.is-style-outline {
        .wp-block-button__link {
            @apply theme-button button-inverted;
        }
    }
}

.wp-block-button__link {
    @apply theme-button;
}

@tailwind utilities;